/ form_forは単数形のパスを生成してくれないため、urlを指定している
/ http://qiita.com/yoskmr/items/cc8a2dc51c928aa1c87a
/ http://railsguides.jp/routing.html#単数形リソース
= simple_form_for @profile, :url => profile_path, html: { method: :put } do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :blog_url
  = f.input :organization
  = f.input :introduction, as: :text
  = f.input :qiita_id
  = f.button :submit
