= simple_form_for @profile, :url => user_profile_path(current_user) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :blog_url
  = f.input :organization
  = f.input :introducion
  = f.input :qiita_id
  = f.button :submit
