= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this area from being saved:"
      %ul
        - @article.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :tag_list
    = text_field_tag 'article[tag_list]', @article.tag_list.join(','), "data-role" => "tagsinput"

  .form-group
    = f.label :body
    = f.text_area :body, class: "form-control", size: "10x20"

  .form-group
    = f.select :status, Article.statuses.keys.to_a, {}, class: 'form-control'

  .actions
    = f.submit
