.title-area
  .row
    .col-sm-9
      %h1.article-title= @article.title
      .tag-area
        -@article.tag_list.each do |tag|
          %span.label.label-info= link_to tag, tag_url(tag)
      .article-contorl
        - if @article.user == current_user
          = link_to '編集', edit_article_url(@article), :class => 'btn btn-primary'
          = link_to '削除', @article, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
    .col-sm-3
      #{@article.stocks.count}ストック
      .article-stock
        - if current_user.try!(:stocking?, @article)
          = link_to 'ストック解除', [@article, current_user.stocks.find_by(article_id: @article)], :method => :delete, :class => 'btn btn-primary'
        - else
          = link_to "ストック", article_stocks_url(@article), :method => :post, :class => 'btn btn-primary'

.row
  .content-area.col-sm-9
    ~ markdown_to_html(@article.body)

    %hr

    %table
      %thead
        %tr
          %th Body
          %th Author
          %th

      %tbody
        - @article.comments.includes(:user).each do |comment|
          %tr
            %td~ markdown_to_html(comment.body)
            %td= link_to comment.user.name, comment.user
            %td= link_to 'Destroy', [@article, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }

    = form_for [@article, @article.comments.build] do |f|
      .form-group
        = f.text_area :body, class: "form-control"
      .actions
        = f.submit 'Save'

  .side-area.col-sm-3
    = link_to @article.user.name, @article.user
