%h1= @user.username

- unless @user == current_user
  - if current_user.following?(@user)
    = link_to 'フォロー解除', ""
  - else
    = link_to "フォロー", ""

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @user.articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= link_to article.user.username, article.user
