.row.user-page
  .col-md-3.col-sm-3.col-xs-12.newUserPageProfile
    .newUserPageProfile-header
      = link_to_user_with_avatar(@user, 270)

      - if @user.profile.try!(:full_name).present?
        %h2= @user.profile.full_name

      %h2= "@#{@user.name}"

      .user-follow-form
        = render 'follow_form', user: @user

    .user-page-profile
      - if @user.profile
        - profile = @user.profile
        .user-page-profile-info
          #{profile.introduction}
        .user-page-profile-info
          - if profile.blog_url.present?
            .user-page-profile-info-body
              = link_to profile.blog_url
          - if profile.organization.present?
            .user-page-profile-info-body
              #{profile.organization}
          - if profile.qiita_id.present?
            .user-page-profile-info-body
              = link_to 'Qiita', "http://qiita.com/#{profile.qiita_id}"

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロー中のタグ
          %span.newUserPageProfile_count
            #{@user.tags.count}
        .user-page-profile-info-body
          - @user.tags.each do |tag|
            %span.label.label-info= link_to tag.name, tag_url(tag.name)

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロー中のユーザー
          %span.newUserPageProfile_count
            #{@user.followed_users.count}
        .user-page-profile-info-body
          - @user.followed_users.each do |followed_user|
            = link_to_user_with_avatar(followed_user, 20)

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロワー
          %span.newUserPageProfile_count
            #{link_to @user.followers.count, followers_user_path(@user)}
        .user-page-profile-info-body
          - @user.followers.each do |follower|
            = link_to_user_with_avatar(follower, 20)

  .col-md-9.col-sm-9.col-xs-12
    .activities
      = render @user.articles.includes(:author).order(created_at: :desc).limit(10)

  -# TODO: paginate等の対応
