%h1= @user.name

- unless @user == current_user
  - if current_user.try!(:following?, @user)
    = link_to "解除", user_relationship_path(@user), :method => :delete, :class => 'btn btn-default'
  - else
    = link_to "フォロー", user_relationship_path(@user), :method => :post, :class => 'btn btn-primary'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @user.articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= link_to article.user.name, article.user
