.row.user-page
  .col-md-3.col-sm-3.col-xs-12.newUserPageProfile
    .newUserPageProfile-header
      = avatar_image_tag(@user, 270)

      - if @user.profile && (@user.profile.first_name.present? || @user.profile.last_name.present?)
        %h2= "#{@user.profile.first_name} #{@user.profile.last_name}"

      %h2= "@#{@user.name}"

      .user-follow-form
        = render partial: 'follow_form', locals: {user: @user}

    .user-page-profile
      - if @user.profile.try!(:introduction).try!(:present?)
        .user-page-profile-info
          #{@user.profile.introduction}
      .user-page-profile-info
        - if @user.profile.try!(:blog_url).try!(:present?)
          .user-page-profile-info-body
            = link_to @user.profile.blog_url
        - if @user.profile.try!(:organization).try!(:present?)
          .user-page-profile-info-body
            #{@user.profile.organization}
        - if @user.profile.try!(:qiita_id).try!(:present?)
          .user-page-profile-info-body
            = link_to 'Qiita', "http://qiita.com/#{@user.profile.qiita_id}"

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロー中のタグ
          %span.newUserPageProfile_count
            #{@user.tags.count}
        .user-page-profile-info-body
          - @user.tags.each do |tag|
            %span.label.label-info= link_to tag.name, tag_url(tag.name)

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロー中のユーザー
          %span.newUserPageProfile_count
            #{@user.followed_users.count}
        .user-page-profile-info-body
          - @user.followed_users.each do |followed_user|
            = avatar_image_tag(followed_user, 20)

      .user-page-profile-info
        .user-page-profile-info-heading
          フォロワー
          %span.newUserPageProfile_count
            #{link_to @user.followers.count, followers_user_path(@user)}
        .user-page-profile-info-body
          - @user.followers.each do |follower|
            = avatar_image_tag(follower, 20)

  .col-md-9.col-sm-9.col-xs-12
    .activities
      = render partial: @user.articles.includes([:author, :tags]).order(:created_at).reverse_order.limit(10)

  -# TODO: paginate等の対応
