%h1= @user.username

- unless @user == current_user
  - if current_user.following?(@user)
    = form_for(current_user.relationships.find_by(followed: @user), html: {method: :delete}) do |f|
      = f.submit "フォロー解除", class: "btn"
  - else
    = form_for(current_user.relationships.build(followed: @user)) do |f|
      %div
        = f.hidden_field :followed_id
      = f.submit "フォロー", class: "btn btn-primary"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @user.articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= link_to article.user.username, article.user
