%h1= @tag.name

.tag-stock
  - if current_user.try!(:following_tag?, @tag)
    = link_to "解除", tag_tagfollow_path(@tag.name), :method => :delete, :class => 'btn btn-default'
  - else
    = link_to "フォロー", tag_tagfollow_path(@tag.name), :method => :post, :class => 'btn btn-primary'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= link_to article.user.username, article.user
