.tagShow
  .tagShowHeader
    %h1.tagShowHeader_name= @tag.name

    .tagShowHeader_followButton
      .tag-follow
        = render 'follow_form', tag: @tag

  .tagShowStats
    .tagShowStats_metric
      .count
        #{@tag.taggings_count}
      .unit
        投稿
    .tagShowStats_metric
      .count
        #{@tag.users.count}
      .unit
        フォロワー
    %p.tagShowStats_description
      #{@tag.name}に関する情報が集まっています。
      現在#{@tag.taggings_count}件の投稿があります。
      また#{@tag.users.count}人のユーザーが#{@tag.name}グをフォローしています。

  .activities
    = render partial: Article.tagged_with(@tag.name).published.includes([:author, :tags])

-# TODO: paginate
-# FIXME: カウントがおかしいかも
